<?xml version='1.0' encoding='utf-8'?>
<widget id="com.salims.sjapp" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>salim jimbo App</name>

    <description>
        Video to animation app container
    </description>

    <author email="salim@example.com">
        Salim Jimbo
    </author>

    <content src="index.html" />

    <access origin="*" />

    <!-- ANDROID SETTINGS -->
    <platform name="android">
        <icon src="res/sj.png" />
    </platform>

</widget>
